@font-face{
  font-family: 'Montserrat', sans-serif;
}

.vt-body {
  display: flex;
  flex-direction: column;
}

p {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.9);
  line-height: 140%;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
  margin: 0px;
  color: rgba(0, 0, 0, 0.9);
  font-family: 'Poppins', sans-serif;
}


.vt-header {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}

.vt-spacing {
  padding-top: 40px;
}

.vt-spacing-2 {
  padding-top: 16px;
}

.vt-line {
  border: none;
  border-top: 2px solid black;
}

.vt-line-header {
  width: 70%;
  padding-bottom: 32px;
}

.vt-hero {
  display: flex;
  flex-direction: row;
  width: 70%;
  align-self: center;
  background: #f5f5f5;
  height: 400px;
}


.vt-hero-content {
  display: flex;
  align-items: flex-end;
  padding: 0 48px 32px 48px ;
  width: 100%;
}

.vt-hero-content-about {
  width: 100%;
}


.vt-hero-content-about-social img {
  padding-right: 8px;
  padding-top: 16px;
}

.vt-stories {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 70%;
  padding-top: 40px;
}

.vt-stories-heading p{
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 16px;
}

.vt-stories-list p {
  font-size: 18px;
  line-height: 140%;
}

.vt-stories-list {
  display: flex;
  flex-direction: column;
}

.vt-stories-list-row {
  display: flex;
  flex-direction: row;
}

.vt-stories-number {
  width: 24px;
  padding-right: 4px;
  padding-bottom: 16px;
}

.list-res {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

}

.vt-stories-title {
  padding-right: 16px;
}

.vt-stories-link {
  padding-bottom: 16px;
}


@media all and (max-width: 768px) {

p {
  font-size: 24px;
}

h1 {
  font-size: 32px;
}

.vt-body {
  margin: 16px;
}

.vt-header {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}

.vt-spacing {
  padding-top: 16px;
}

.vt-spacing-2 {
  padding-top: 32px;
}

.vt-line {
  border: none;
  border-top: 2px solid black;
  margin: 0px;
  width: 100%;
}

.vt-line-header {
  padding-bottom: 32px;
}

.vt-hero {
  display: flex;
  flex-direction: row;
  background: #fff;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.vt-hero-image img {
  width: 100%;
  padding-top: 0px;
}

.vt-hero-content {
  display: flex;
  align-items: flex-end;
  padding: 32px 0 32px 0 ;
  width: 100%;
}


.vt-hero-content-about-social img {
  padding-right: 16px;
  padding-top: 16px;
}


.vt-stories {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  padding-top: 40px;
}

.vt-stories-heading p{
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 16px;
}

.vt-stories-list p {
  font-size: 18px;
  line-height: 140%;
}

.vt-stories-list {
  display: flex;
  flex-direction: column;
}

.vt-stories-list-row {
  display: flex;
  flex-direction: row;
}

.vt-stories-number {
  width: 24px;
  padding-right: 4px;
  padding-bottom: 16px;
}

.list-res {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

}

.vt-stories-title {
  padding-right: 16px;
}

.vt-stories-link {
  padding-bottom: 16px;
}

}

